<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TravelCamp</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="/static/css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="/static/css/admin.css" th:href="@{/css/admin.css}">
</head>

<body>

<!--NavBar section-->
<div id="navbarHome">
    <nav class="fixed-top bg-dark py-3 justify-content-around align-items-center" data-bs-theme="dark">
        <div class="row align-items-center justify-content-center px-2">
            <div class=" col-md-3 px-4 justify-content-start">
                <img src="/static/img/siteLogo.png" id="siteLogo" th:src="@{/img/siteLogo.png}">
                <a href="/admin/index" id="logoText">TravelCamp</a>
            </div>
            <div class=" col-md-4 navLinks ">
                <div class="adminLogout" th:text="'Вы вошли как '+${userAuth.getRole()}"></div>
                <div class="adminLogout">
                    <form method="POST" th:action="@{/logout}">
                        <button type="submit" >(выйти)</button>
                    </form>
                </div>
            </div>
            <div class=" col-md-3 adminNavSelect">
                <select onchange="window.location.href=this.options[this.selectedIndex].value" class="form-select"
                        aria-label="Default select example">
                    <option selected disabled>Выберите действие</option>
                    <option value="/admin/orders">Просмотр заказов</option>
                    <option value="/admin/tours/add">Добавить новый тур</option>
                    <option value="/admin/index#ourTours">Просмотр туров</option>
                    <option value="/admin/users">Просмотр пользователей</option>
                </select>
            </div>
        </div>
    </nav>
</div>
<!-------------------------->

<h4 class="usersListH4 mb-5">ПРОСМОТР ЗАКАЗОВ</h4>


<!-----------  поиск  ----------->
<div class="orderSearch">
<!--th:action - указываем, каким URL-адресом будет обработана наша страница(на какой адрес
её отправляем, т.е. этот адрес д.б. у соответствующего контролера
В name указываем имя, по которому контроллер будет принимать введенные значения с поля-->
<form th:method="POST" th:action="@{/admin/orders/search}">
    <label for="search" class="mb-4">найти заказ по номеру:</label>
    <!--  Отправляем по ключу value полученное с формы значение на контроллер и обрабатываем его там-->
    <input type="text" id="search" name="search" th:value="*{value_search}" width="200px" maxlength="4" placeholder="последние 4 символа" class="mx-4">
    <input type="submit" value="Искать">
    <br>
</form>


<div th:if="(${!value_search.equals('')}) and (${search_order.size()} < 1)">
    <hr>
    <h3 class="textAlignCenter">Результат поиска:</h3>
    <!--принимаем {search_order}, который приходит к нам из метода AdminКонтроллера, который обрабатывает поисковый запрос-->
    <h5>по вашему запросу ничего не найдено :(</h5>
</div>
<div th:if="(${!value_search.equals('')}) and (${search_order.size()} > 0)" >
    <h3 class="textAlignCenter">Результат поиска:</h3>
    <div th:each="orderFinded: ${search_order}" class="orderSearch" >
    <a th:href="@{/admin/orders/{id}(id=${orderFinded.getId()})}" th:text="${orderFinded.getOrderNumber()}"></a>
    </div>
</div>
<hr>
<br>
<!--------------------------------------->

<h3>Список всех заказов</h3>
</div>
<br>
<br>

<div class="row col-12 col-md-11 col-xl-10 userInfoTable ">
    <table class="table table-dark table-striped px-4 ">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Номер заказа</th>
            <th scope="col">Дата тура</th>
            <th scope="col">Статус</th>
        </tr>
        </thead>
        <tbody th:if="${orders.size() > 0}">
        <tr th:each="order : ${orders}" >
            <th scope="row" th:text="${order.getId()}">1</th>
            <td> <a th:href="@{/admin/orders/{id}(id=${order.getId()})}" th:text="${order.getOrderNumber()}"></a> </td>
            <td th:text="${order.getTourDate()}"></td>
            <td th:text="${order.getOrderStatus()}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>