<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TravelCamp</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="/static/css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="/static/css/admin.css" th:href="@{/css/admin.css}">
</head>

<body>


<!--NavBar section-->
<div id="navbarHome">
    <nav class="fixed-top bg-dark py-3 justify-content-around align-items-center" data-bs-theme="dark">
        <div class="row align-items-center justify-content-center px-2">
            <div class=" col-md-3 px-4 justify-content-start">
                <img src="/static/img/siteLogo.png" id="siteLogo" th:src="@{/img/siteLogo.png}">
                <a href="/admin/index" id="logoText">TravelCamp</a>
            </div>
            <div class=" col-md-4 navLinks ">
                <div class="adminLogout" th:text="'Вы вошли как '+${user.getRole()}"></div>
                <div class="adminLogout">
                    <form method="POST" th:action="@{/logout}">
                        <button type="submit" >(выйти)</button>
                    </form>
                </div>
            </div>
            <div class=" col-md-3 adminNavSelect">
                <select onchange="window.location.href=this.options[this.selectedIndex].value" class="form-select"
                        aria-label="Default select example">
                    <option selected disabled>Выберите действие</option>
                    <option value="/admin/orders">Просмотр заказов</option>
                    <option value="/admin/tours/add">Добавить новый тур</option>
                    <option value="/admin/index#ourTours">Просмотр туров</option>
                    <option value="/admin/users">Просмотр пользователей</option>
                </select>
            </div>
        </div>
    </nav>
</div>
<!-------------------------->


<!--ФОРМА ДОБАВЛЕНИЯ ТУРОВ по url-адресу:/admin/tours/add-->
<!--объект ${tour} к форме. В AdminController его извлекаем и получаем из него поля формы-->
<!--enctype="multipart/form-data" указывает, что форма может работать с файлами-->
<div class="tourAddMainContainer col-10 col-md-9 col-lg-8 col-xl-6">
    <h4>ДОБАВЛЕНИЕ НОВОГО ТУРА</h4>
    <form th:method="POST" th:action="@{/admin/tours/add}" th:object="${tour}" enctype="multipart/form-data">

        <div class="form-floating mb-3">
            <input type="text" th:field="*{title}" class="form-control" id="floatingTextarea"
                   placeholder="например: К облакам!">
            <label for="floatingTextarea">название тура:</label>
            <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        </div>

        <div class="form-floating">
            <textarea th:field="*{descriptionShort}" placeholder="например: Каково быть выше облаков? У нас есть ответ!"
                      class="form-control" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">краткое описание тура:</label>
            <div style="color:red" th:if="${#fields.hasErrors('descriptionShort')}"
                 th:errors="*{descriptionShort}"></div>
        </div>

        <div class="form-floating">
            <textarea th:field="*{descriptionFull}" placeholder="развернутое описание тура" class="form-control"
                      id="floatingTextarea"></textarea>
            <label for="floatingTextarea">подробное описание тура:</label>
            <div style="color:red" th:if="${#fields.hasErrors('descriptionFull')}" th:errors="*{descriptionFull}"></div>
        </div>

        <div class="form-floating">
            <select name="tourType" th:field="*{tourType}" class="form-select" id="floatingSelect"
                    aria-label="Floating label select example">
                <div th:each="element: ${tourType}">
                    <option th:text="${element.name().toLowerCase()}" th:value="${element.name()}">пеший</option>
                </div>
            </select>
            <label for="floatingSelect">тип тура: </label>
            <div style="color:red" th:if="${#fields.hasErrors('tourType')}" th:errors="*{tourType}"></div>
        </div>

        <div class="form-floating">
            <input type="text" th:field="*{distance}" placeholder="например: 20 км" class="form-control"
                   id="floatingTextarea"></input>
            <label for="floatingTextarea">дистанция:</label>
            <div style="color:red" th:if="${#fields.hasErrors('distance')}" th:errors="*{distance}"></div>
        </div>

        <div class="form-floating">
            <input type="text" th:type="text" th:field="*{duration}" placeholder="например: 8 часов"
                   class="form-control" id="floatingTextarea"></input>
            <label for="floatingTextarea">продолжительность:</label>
            <div style="color:red" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></div>
        </div>

        <div class="form-floating">
            <input type="text" th:field="*{elevation}" placeholder="например: 1300 метров" class="form-control"
                   id="floatingTextarea"></input>
            <label for="floatingTextarea">набор высоты:</label>
            <div style="color:red" th:if="${#fields.hasErrors('elevation')}" th:errors="*{elevation}"></div>
        </div>

<!--        <div class="form-floating mb-3">-->
<!--            <input type="number" th:field="*{smallGroupParticipants}" placeholder="например: 3" class="form-control"-->
<!--                   id="floatingInput">-->
<!--            <label for="floatingInput">количество участников в малой группе:</label>-->
<!--            <div style="color:red" th:if="${#fields.hasErrors('smallGroupParticipants')}"-->
<!--                 th:errors="*{smallGroupParticipants}"></div>-->
<!--        </div>-->

        <div class="form-floating mb-3">
            <input type="number" th:field="*{largeGroupParticipants}" placeholder="например: 5" class="form-control"
                   id="floatingInput">
            <label for="floatingInput">максимум человек в группе:</label>
            <div style="color:red" th:if="${#fields.hasErrors('largeGroupParticipants')}"
                 th:errors="*{largeGroupParticipants}"></div>
        </div>

        <div class="form-floating mb-3">
            <input type="number" th:field="*{priceSmallGroup}" placeholder="число, например: 8000" class="form-control"
                   id="floatingInput">
            <label for="floatingInput">стоимость тура:</label>
            <div style="color:red" th:if="${#fields.hasErrors('priceSmallGroup')}" th:errors="*{priceSmallGroup}"></div>
        </div>

<!--        <div class="form-floating mb-3">-->
<!--            <input type="number" th:field="*{priceLargeGroup}" placeholder="число, например: 10000" class="form-control"-->
<!--                   id="floatingInput">-->
<!--            <label for="floatingInput">стоимость для полной группы:</label>-->
<!--            <div style="color:red" th:if="${#fields.hasErrors('priceLargeGroup')}" th:errors="*{priceLargeGroup}"></div>-->
<!--        </div>-->

        <br>
        <p>Загрузите фотографии. </p>
        <p>Вы можете добавить до 5 фотографий.</p>
        <p>Первая фотография будет лицевой на карточке тура. </p>
        <br/>

        <div class="input-group mb-3">
            <input type="file" name="file_one" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03"
                   aria-label="Upload">
        </div>
        <div class="input-group mb-3">
            <input type="file" name="file_two" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03"
                   aria-label="Upload">
        </div>
        <div class="input-group mb-3">
            <input type="file" name="file_three" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03"
                   aria-label="Upload">
        </div>
        <div class="input-group mb-3">
            <input type="file" name="file_four" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03"
                   aria-label="Upload">
        </div>
        <div class="input-group mb-3">
            <input type="file" name="file_five" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03"
                   aria-label="Upload">
        </div>
        <input type="submit" value="Добавить тур" id="submitButton">
        <div id="backButton">
        <a href="javascript:history.back()" >Отменить</a>
        </div>
    </form>
</div>

<!----------------------------------------------------------->


</body>
</html>