body {
    background-color: black;
    font-family: 'Pacifico', cursive;
}

body p {
    background-color: black;
    font-family: 'Pacifico', cursive;
    color: #ffda9e;
}

h4 {
    text-align: center;
    color: #ffda9e;
}

/*-------- NavBar --------- */

.logoContainer {
    text-align: center;
}

#navbarHome {
    color: bisque;
    margin: 0;
}

#navbarHome a {
    color: bisque;
    text-decoration: none;
    transition: 0.5s;
}

#navbarHome a:hover {
    color: inherit;
    text-decoration: none;
    text-shadow: 0px 0px 15px #fff5cd;

}


.logout {
    text-align: center;
    display: inline-block;
    padding: auto;
    color: inherit;

}

.logout button:hover {
    text-shadow: 0px 0px 15px #fff5cd;

}

.logout button {
    background-color: inherit;
    border: none;
    color: inherit;
    transition: 0.5s
}


/*---------------------------------*/



/* ------ carousel ------ */

/* Настройка размеров изображения в основной карусели */
.w-100 {
    width: 100% !important;
    height: 88vh;
}
/*---------------------------------*/

#ourTours {
    margin: 5vh 0 0 0;
}

/* ------ cards ------ */




cardImage {
    width: 3px;
}


#cardUser {
    width: 90vw;
    margin: 2vh auto;
}

.buttonCard {
    width: calc(70px + 20vw);
    transition: 0.2s;
    color: #ffda9e!important;
}

.buttonCard:hover {
    transform: scale(1.05);
}


.cardInfoAdmin {
    width: 90vw;
    margin: 5vh auto;
    color: #ffda9e;
}

#cardInfoAdmin h5 {
    text-align: center;
}

.cardInfo {
    border-radius: 3vw;
    background-color: black;
    padding: 2vh 0;
}


.cardInfo img {
    width: 80%;
    border-radius: inherit;
    margin: 0 auto;
}

.cardFullDescription {
    margin: 1vh 10vw;
    text-align: justify;
    font-size: 12pt;
    padding: 1vh 0vw;
}

.cardFullDescription h4 {
    margin: 0 0 2vh 0;
    text-align: center;
}

.carouselContainer {
    background-color: black;
    width: 80%;
    border-radius: 3vw;
}

.carouselContainer img {
    width: 100%;
    padding: 3vw;
    border-radius: 6vw;
}

/*----------------------------*/

/*--------- orders -----------*/

.marginCenter {
    margin: 2vh auto;
}

/*------  TourDetailed  ------*/

.cardInfoDetailed {
    width: 90vw;
    margin: 5vh auto;
    color: #ffda9e;

}

.cardInfoDetailed h4{
    text-align: center;
    color: #ffda9e;
    font-size: calc(10pt + 1vw);
    margin: 5vh 0 0 0;
}

#cardAdmin p{
    width: 90vw;
    margin: 0 auto;
    color: black;
}



.buttonCardInfo {
    width: calc(70px + 20vw);
    transition: 0.2s;
}

.buttonCardInfo:hover {
    transform: scale(1.05);

}

.cardInfoAdmin {
    width: 90vw;
    margin: 5vh auto;
    color: #ffda9e;
}

#cardInfoAdmin h5, p {
    color: black;
}

.cardInfoImg {
    border-radius: 2vw;
    background-color: black;
    padding: 2vh 0;
}


.cardInfoImg img {
    width: 60%;
    border-radius: inherit;
    margin: 0 auto;
}

.cardFullDescription {
    margin: 1vw;
    text-align: justify;
    font-size: 14pt;
    padding: 1vh;
    color: #ffda9e;
}

.cardFullDescription h4 {
    margin: 5vw 0 2vh 0;
    text-align: center;
    color: #ffda9e;
}

.carouselContainer {
    background-color: black;
    width: 80%;
    border-radius: 3vw;
    margin: 2vh auto;
}

.carouselContainer img {
    width: 100%;
    padding: 3vw;
    border-radius: 6vw;
}

.cardBodyDetailed {
    color: #ffda9e;
    text-align: center;
}

.divDescriprion >p{
    color: #ffda9e;
}

.tourDetailedBackButton {
    text-align: center;
    margin: -2vh auto 5vh 0;
    color: #ffda9e;
}

.tourDetailedBackButton a {
    width: 60%;

}

.userCardFullDescription {
    margin: 0px;
    padding: 0px;
    color: #ffda9e;
}

.userCardFullDescription >p{
    color: #ffda9e;
}

/*------------------------------*/


/*--------cart----------*/

.cartItem {
    margin: 2vh auto;
}


.dateInput {
    width: 100%;
}

.cartCardButton {
    width: 100%;
    height: 8vh;
    line-height: 8vh;
    font-family: 'Pacifico', cursive;
    font-size: 14pt;
    color: #ffda9e;
}


.cartCardTourInfo {
    align-items: center;
}

.textAlignCenter {
    text-align: center;
}

.gap3vh {
    margin: 3vh;
      }

.mx-7-vh {
    margin: 0 auto 7vh auto;
}

.orderButton {
    margin: 10vh auto;
}

.mx-12-vh {
    margin: 12vh auto 12vh auto;
}

/*-------------------------------*/

#aboutUs {
    margin: 10vh auto 2vh auto;
    color: #ffda9e;
}

#contacts {
    margin: 10vh auto;
}

#contacts p{
    color: #ffda9e;
    margin: 2vh 0;
}


/*-----------  footer  -----------*/

#footer p {
    margin: 1vw 0;
    font-size: calc(5pt + 0.6vw);
    text-align: center;
    color: #ffda9e;
}

#footerLogo img{
    margin: 3vh;
    width: 10vw;
    border-radius: 50%;
    padding: 0 0 0 2vw;
}

#underTravel {
    font-size: calc(5pt + 0.8vw);
}


#footerTravelCamp{
    font-size: calc(5pt + 1.2vw);
    padding: 0;
    margin: 2vw 0;
    text-align: left;
}

#footerTravelCamp #footerTextLogo {
    font-size: calc(10pt + 0.8vw);
}



